:root {
  --berryblue: #104090;
  --berryred: #F01030
}

html {
  font-family: serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: var(--berryblue);
}

a:hover {
  background-color: var(--berryblue);
  color: white;
}

main {
  padding: 1rem;
}

header {
  padding: 1rem;
  background-color: var(--berryred);
  color: white;
}


footer {
  padding: 1rem;
  background-color: var(--berryblue);
  color: white;
  margin-top: auto;
}

footer > .links {
  display: flex;
}

footer > .links > *:not(:last-child) {
  margin-right: 1rem;
}

footer a {
  color: white;
}

footer > .links > *:not(:last-child)::after {
  content: "";
  display: block;
  margin-right: 1rem;
  width: 2px;
  height: 1em;
  background-color: var(--berryred)
}

header a {
  color: white;
}

section {
  padding: 1rem;
}

section::before, section::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--berryred)
}

.highlighted {
  background-color: var(--berryred)
  color: white;
}
