*,*::before,*::after {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --berryblue: #104090;
  --berryred: #F01030;

  --cranberry: #F05040;
  --cloudberry: #ff8000;

  --negative-0: #000000;
  --negative-1: #101010;
  --negative-2: #202020;

  --positive-0: #ffffff;
  --positive-1: #f0f0f0;
  --positive-2: #e0e0e0;
}

html {
  font-family: serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: var(--berryblue);
}

p {
  float: left;
}

body {
  color: var(--negative-2);
}

.logo {
    text-decoration: none;
    transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    margin: 0;
}

.logo span:first-child {
    color: white;
    font-size: 2rem;
}


.logo:hover {
  background: transparent;
  letter-spacing: .4rem;
}

p, a {
  margin-bottom: 1rem;
}

img {
  max-height: 50vh;
  object-fit: scale-down;
}

a:hover {
  background-color: var(--berryblue);
  color: white;
}

main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  order: 3;
}


header {
  padding: 2rem 1rem;
  background-color: var(--berryred);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}


footer {
  padding: 1rem;
  background-color: var(--berryblue);
  color: white;
  margin-top: auto;
  text-align: center;
  order: 5;
}

footer > .links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.inline {
  display: inline;
  height: 0.75em;
}

.thickbutton {
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: color .1s .2s;
  text-decoration: none;
  background-color: var(--berryblue);
  color: white;
}


.thickbutton > span {
  z-index: 2;
  padding: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  color: inherit;
}

.thickbutton.thick > span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.thickbutton::before {
  content: "";
  position: absolute;
  left: 0.5em;
  display: block;
  margin-right: 1em;
  width: 2px;
  height: 1em;
  background-color: lightblue;
  transition: width .1s .1s, height .1s .0s, left .1s;
}

.thickbutton:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
}

.thickbutton:hover span {
  color: var(--berryblue);
}

a.thickbutton.positive {
  background-color: white;
  color: var(--berryblue);
}

a.thickbutton.positive:hover span {
  color: white;
}

a.thickbutton.positive::before {
  background-color: var(--berryred);
}

h1 {
  color: var(--negative-0);
  font-size: 3rem;
}

h2 {
  color: var(--negative-0);
  font-size: 2rem;
}

h3 {
  font-weight:600;
  color: var(--negative-0);
  text-transform: uppercase;
}

h3 {
  margin-top: 2rem;
}

.color_orange {
  background-color: var(--cloudberry)!important;
  color: white!important;
}

.color_orange:hover {
  background-color: white;
  color: var(--cloudberry);
}

.news {
  background-color: var(--berryblue);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  order: 2;
  FONT-WEIGHT: 200;
}

.news > * {
  padding: 5px 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  transition: all .1s;
  color: white;
  text-decoration: none;
}

.news > *:not(:first-child) {
    background: rgba(100, 100, 255, 0.1);
}

.news > *:not(:first-child):hover {
  padding: 5px 1.5rem;
  margin: 0;
}

@media (max-width: 52.5rem) {
  .news {
    order: 4;
    border-bottom: 2px dashed white;
  }
}


nav {
  padding: 1rem;
}

nav a {
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.card {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-radius: .4rem;
  border: 1px dashed var(--berryblue);

  margin-bottom: 1rem;
}

.card h2 {
  color: inherit;
}

.stamp {
  width: 8rem;
  height: 8rem;
  background-size: contain;
  margin-right: 0.5rem;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.grid > div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 40px;
}


ul.law {
  
}

ul.law li {
  display: flex;
  flex-direction: column;
}

ul.law li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ul.law li span:not(:first-child) {
  padding-left: 1rem;
  opacity: .5;
}


code {
  background-color: var(--positive-2);
  padding: 0.2rem .5rem;
  border-radius: .2rem;
}
