*,*::before,*::after {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --berryblue: #104090;
  --berryred: #F01030;

  --cranberry: #F05040;
  --cloudberry: #ff8000;
}

html {
  font-family: serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: var(--berryblue);
}

img {
  max-height: 50vh;
  object-fit: scale-down;
}

a:hover {
  background-color: var(--berryblue);
  color: white;
}

main {
  padding: 1rem;
}

header {
  padding: 2rem 1rem;
  background-color: var(--berryred);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  padding: 1rem;
  background-color: var(--berryblue);
  color: white;
  margin-top: auto;
}

footer > .links {
  display: flex;
  flex-wrap: wrap;
}


footer > .links > a {
  display: flex;
  background-color: white;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: color .1s .2s;
  text-decoration: none;
}

footer > .links > a > p {
  z-index: 2;
  padding: 0.5rem 1rem;
}

footer > .links > a::before {
  content: "";
  position: absolute;
  left: 0.5em;
  display: block;
  margin-right: 1em;
  width: 2px;
  height: 1em;
  background-color: var(--berryred);
  transition: width .1s .1s, height .1s .0s, left .1s;
}

footer > .links > a:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
}

header a {
  color: white;
}

section, main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

main h2 {
  font-size: 2rem;
}

main p {
  padding: 1rem 0;
}

.color_orange {
  background-color: var(--cloudberry)!important;
  color: white!important;
}

.color_orange:hover {
  background-color: white;
  color: var(--cloudberry);
}

.highlighted {
  background-color: var(--berryred)
  color: white;
}

.news {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.news > * {
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 4px;
  /* margin: 0; */
  transition: all .1s;
}

.news > *:not(:first-child) {
    background-color: var(--cranberry);
}

.news > *:not(:first-child):hover {
  padding: 5px 20px;
  margin: 0;
}
