{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<a href="/">Home</a>
{% if page.path contains '_posts' %}
    / <a href="/press">Berry Empire Press</a>
    / {{ page.title }}
{% else %}
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      /
        {% assign crumbpath = "" %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        {% for crumb in crumbs limit: crumb_limit %}
            {% assign crumbpath = crumbpath + crumb | append: '/' | replace:'without-plugin/','without-plugins/' %}
        {% endfor %}
        @ {{crumbpath}} @
        {% if crumbpath contains 'index.md' %}
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
        {% else %}
            <span>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span>
        {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
