*,*::before,*::after {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
p {
    overflow-wrap: break-word;
}
  
:root {
    --berryblue: #104090;
    --berryred: #F01030;
}

html {
    font-size: 62.5%;
}

/*@media print {*/
    body{
        width: calc(21cm - 0.8in);
        height: calc(29.7cm - 0.8in);
        margin: 0mm;
   } 
/*}*/

body {
    font-family: 'Roboto Slab', serif;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 3fr 1fr 1fr 2fr;
    gap: 3rem;

    font-size: 2.4rem;
}

ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flag {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1rem;

    text-align: center;
}

#data1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#data2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#description {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    
    text-align: justify;
}

#contact {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#colors {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

}

.spacearoundlist > li {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stretchedlist > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#whitespace {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}


#signatures {
    grid-column: 1 / -1;
    grid-row: 6 / 7;

    text-align: center;
    justify-content: flex-end;
}
