<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} | Berry Empire{% else %}Berry Empire{% endif %}</title>
    <link rel="stylesheet" href="/style.css">
     <meta name="description" content="{% if page.title %}{{ page.title }} | Berry Empire{% else %}Berry Empire{% endif %}">
    <meta property="og:description" content="{% if page.title %}{{ page.title }} | Berry Empire{% else %}Berry Empire{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | Berry Empire{% else %}Berry Empire{% endif %}">
    <meta property="og:type" content="web" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:image" content="https://berryempire.cupertinoalliance.ca/poster.png" />
    <meta name="theme-color" content="#f01030">
</head>
<body>
    <header>
        <a href="/"><h1> Berry Empire </h1></a> <br>
        <div class="news">
            <p>News: </p>
            <a href="/press/8/"> Bilberry Rocket Launched </a>
            <a href="/press/7/"> New ebassy in Cannaland </a>
            <a href="/press/5/" class="color_orange"> Cloudberry Rocket Announcement </a>
        </div>
    </header>
    <main>
      {{content}}
    </main>
    <footer>
        <div class="links">
            <a target="_blank" href="/press/"><p>Press</p></a>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfkJTmNNMBZQjtnY1X0qukH5jc4miOadwbrQjsZ3HqjJVhTfQ/viewform?usp=sf_link"><p>Citizenship</p></a>
            <a onclick="navigator.clipboard.writeText('berryempire@protonmail.com');alert('berryempire@protonmail.com\nCopied to clipboard.')" href="#"><p>Email</p></a>
            <a target="_blank" href="/law/constitution.html"><p>Constitution</p></a>
            <a target="_blank" href="https://micronations.wiki/wiki/Berry_Empire"><p>Wiki</p></a>
            <a target="_blank" href="https://discord.gg/GPzvUDccRX"><p>Discord</p></a>
            <a target="_blank" href="https://micronear.bloomflare.dev/micronation.html?m=RR"><p>Micronear</p></a>
        </div>
        <div class="copyright">
            <p>&copy; Copyright, Berry Empire, 2020 - 2021, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
