<!DOCTYPE html>
<html lang="en">
<head>
    <title>Berry Empire</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/"><h1> Berry Empire </h1></a>
    </header>
    <main>
      {{content}}
    </main>
    <footer>
        <div class="links">
            <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfkJTmNNMBZQjtnY1X0qukH5jc4miOadwbrQjsZ3HqjJVhTfQ/viewform?usp=sf_link">Citizenship</a></p>
            <p><a target="_blank" href="/constitution.txt">Constitution</a></p>
            <p><a target="_blank" href="https://micronations.wiki/wiki/Berry_Empire">Wiki</a></p>
            <p><a target="_blank" href="https://discord.gg/GPzvUDccRX">Discord</a></p>
            <p><a target="_blank" href="https://micronear.bloomflare.dev/micronation.html?m=RR">Micronear</a></p> 
        </div>
        <div class="copyright">
            <p>&copy; Copyright, Berry Empire, 2020 - 2021, All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
